services:
  sensor_data:
    build: .
    environment:
      BLINKA_FORCEBOARD: RASPBERRY_PI_3B
      BLINKA_I2C: 1
      TZ: America/Los_Angeles
    devices:
      - /dev/i2c-1:/dev/i2c-1
    privileged: true
    volumes:
      - data-storage:/data_storage
    network_mode: host
    restart: unless-stopped
  dashboard:
    build: .
    volumes:
      - data-storage:/data_storage
    command: streamlit run dashboard.py --server.port 8501 --server.address 0.0.0.0
    ports:
      - "8501:8501"
    environment:
      TZ: America/Los_Angeles
    restart: unless-stopped

volumes:
  data-storage:
